.keyWrapper{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 700px;
  max-height: 760px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(48, 48, 53);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}
.asd{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 700px;
  max-height: 760px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(48, 48, 53);
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}
.pageWrapper{
  background-color: black;
}

.image{
  aspect-ratio: 6.39;
  height: 30px;
  margin-top: 25px;
}

/* display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 700px;
  max-height: 760px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(48, 48, 53);
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 20px 20px 20px;
  border-radius: 20px; */